@{
  ViewData["Title"] = "Hovedside";
}

<div id="editor1"></div>

<script>
  let editor = undefined;
  window.addEventListener('DOMContentLoaded', () => {
    editor = emlEditor.createEditorInSelector("#editor1");
  });
</script>