@{
  ViewData["Title"] = "Hovedside";
}


<div id="editors">
    <div id="editor1" class="editor-instance"></div>
    <br />
</div>

<!-- 2) Htmx: Adding a new editor from the server -->
<button 
    hx-get="@Url.Action("AddEditor", "Home")" 
    hx-target="#editors" 
    hx-swap="beforeend"
    class="btn btn-primary">
    Add a new editor
</button>

<!-- 3) initialize the first editor -->
<script>
  window.addEventListener('DOMContentLoaded', () => {
    emlEditor.createEditorInSelector("#editor1");
  });
</script>