@{
  ViewData["Title"] = "Hovedside";
}
<div id="editor1"></div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    emlEditor.createEditorInSelector("#editor1", "<div><h1>Ja</h1></div>");
  });
</script>